
### Java template
target/

### JVM crash logs
hs_err_pid*

### Maven template
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

### Project config
.idea/
*.iml
.classpath
.project
.settings/
.git/

docs/